/*Styling code for main body of each page - sets general styling for color, font, body, links, lists, buttons*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #373934;
  font-family: "Source Sans Pro", sans-serif;
  color: #373934;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  color: white;
  background-color: #373934;
  font-size: 15px;
  padding: 15px 20px;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  border: 1px solid #373934;
}

button:hover {
  color: #373934;
  background-color: white;
  transition: all 200ms ease-in-out;
}

/*Nav-Bar styling used across all pages of site*/
nav {
  position: fixed;
  top: 0;
  background-color: #98999b;
  width: 100%;
  font-size: 150%;
  color: white;
  padding: 5px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.flex-item {
  flex-grow: 4;
  margin: 10px;
}

.menu {
  margin: 0 20px;
}

nav a:visited,
button a:visited {
  color: inherit;
}

.active {
  color: #69463a !important;
}

/*Styling for main section of home page including hero image and text below image*/
.container {
  margin: 70px 40px 60px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

#hero-outer {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

#hero-img {
  height: 400px;
  background: url("../images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 4px;
}

h1,
h3 {
  text-align: center;
  margin: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main-flex-container,
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-main {
  margin: 50px;
  text-align: center;
  font-size: 18px;
}

.image-main-section {
  border-radius: 4px;
  height: 270px;
}

/*Styling for next meet-up section on home page*/
.next-meetup {
  font-size: 20px;
  background-color: rgba(55, 57, 52, 0.3);
  width: 400px;
  margin: 25px;
  padding: 10px 0;
  border-radius: 4px;
}

iframe {
  margin: 40px 0;
}

.next-meetup li {
  margin: 20px;
  padding: 20px;
}

/*Styling for footer used across all pages of site*/
footer ul {
  margin: 50px 50px 0;
  padding: 10px;
}

footer li {
  padding: 40px;
  font-size: 30px;
}

footer a {
  color: #373934;
}

footer a:visited {
  color: #373934;
}

footer a:hover {
  color: #98999b;
  transition: all 200ms ease-in-out;
}

.author-line {
  font-size: 20px;
  text-align: center;
}

/*Styling for images on the gallery page*/
#photos {
  clear: both;
  line-height: 2px;
  column-count: 4;
  gap: 2px;
}

#photos > img {
  width: 100%;
  border-radius: 4px;
}

/*Styling for form on Sign-up page*/
form {
  font-size: 24px;
  background-color: rgba(55, 57, 52, 0.5);
  width: 70%;
  margin: 150px auto 20px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  color: white;
}

input {
  border: 1px solid white;
  border-radius: 4px;
  line-height: 25px;
  margin: 15px;
  color: white;
  font-size: 16px;
  background-color: rgba(55, 57, 52, 0.5);
}

.sign-up-button {
  margin: 30px auto;
}

.bottom-image {
  background-image: url("../images/boards-lined-up.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  height: 720px;
}

/*Styling for button on confirmation page*/
.return-button {
  margin-top: 80px;
}

/*Styling to make site responsive on small devices*/
@media screen and (max-width: 950px) {
  .flex-container {
    justify-content: center;
  }

  .container {
    margin: 100px 4px 60px;
    padding: 5px;
  }

  .flex-item {
    text-align: center;
    margin: 5px;
  }

  .main-flex-container {
    flex-wrap: wrap;
  }

  .image-main-section {
    height: 170px;
  }

  .text-main {
    margin: 3px;
  }

  iframe {
    width: 230px;
  }

  #photos {
    column-count: 2;
  }
}
