body {
  background-color: #373934;
}

.container {
  margin: 80px 50px auto;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

#hero-outer {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

#hero-img {
  height: 400px;
  background: url("../images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
