body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: whitesmoke;
}

#hero-outer {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

#hero-img {
  height: 400px;
  background: url("../images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
